body {
    margin: 0px;
    background-color: aliceblue;
}

.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text-header {
    color: white;
    margin-left: 20px;
    width: 100%
}

.eeeeee {
    color: white;
    position: absolute;
    height: 300px;
    width: 200px;
    top: 0px;
    left: 0px;
    background-color: red;
}

.menu-header ul {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 0px;
    list-style: none;
    gap: 25px;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;

}

.menu-header ul li a {
    text-decoration: none;
    color: white;
}

.box img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 10px;
    margin: 15px;
}

.box {
    text-align: center;
    box-shadow: 0px 8px 25px rgb(126, 108, 108);
    width: 690px;
    height: 470px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.img {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box a {
    color: #D4A373;
    text-decoration: none;
    margin-bottom: 30px;
}

.box p {
    margin: 15px;
    margin-bottom: 30px;
}

.more {
    margin-top: 45px;
    justify-items: center;
    /* position: ; */

}

.all-box {
    width: 700px;
    box-shadow: 0px 10px 25px rgb(190, 181, 181);
    padding: 5px 15px;
    margin: 20px;
}

.more h1 {
    text-align: center;
    margin-top: 80px;
}

footer {
    background: black;
    color: white;
    font-size: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}